
{% extends "shop/base1.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h1>you searched for {{query}}</h1>
  <div id="main" class="product-list">
    {% for product in prod %}
    <div class="item">
        <div class="card">
           <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" width="100px" height="200px">
         
         {{ product.name }}<br>
         <p class="price">Rs {{product.price}}</p>
       
       </div>
       </div>
    {% endfor %}
  </div>
{% endblock %}